<!DOCTYPE html>
<html>
  <head>
    <title>Sendpal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <script> 
      
      window.sendpalLogo = "<%= image_url("/assets/logo.png")%>"
      window.sendpalBanner = "<%= image_url("sendpal-banner.jpg")%>"
      window.linkedIn = "<%= image_url("linkedin.png")%>"
      window.gitHub = "<%= image_url("github.png")%>"
      
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
